* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    font-family: "Inter", sans-serif;
}

/* sheared style */

.descriptions,
p.feature-item-description,
p.subtitle.description,
p.feature-description,
p.plan-features-descriptions,
p.static-label,
span.date-time-on-cart {
    color: #4F5665;
}


/* header style */
/* nav style  */
nav.nav-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo style */
.logo-container {
    display: flex;
    align-items: center;
}

span.text-logo {
    font-size: 25px;
}

.logo-container img {
    width: 30px;
    margin-right: 6px;
}

span.logo-child-vpn {
    font-weight: 600;
}





/* ul style */

ul.nav-ul-container {
    display: flex;
    font-size: 17px;
}

ul.nav-ul-container a {
    text-decoration: none;
    color: black;
    list-style: none;
    display: flex;
    padding: 0px 35px;
}



/* sign in and sign up button style */
button.btn-sign-in {
    padding: 10px 20px;
    border: none;
    font-size: 19px;
    color: black;
    background: transparent;
}

button.btn-sign-up {
    padding: 10px 20px;
    background: transparent;
    border-radius: 40px;
    border: solid red;
    font-size: 20px;
    color: red;
}

/* nav style end */

/* header container style  */
.header-container-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.header-container {
    max-width: 610px;
}

h2.header-container-header {
    font-size: 60px;
}

span.header-container-header-child {
    font-weight: 900;
}

.header-container img {
    width: 640px;
}

p.header-container-description.descriptions {
    margin-top: 20px;
}


/* main style  */



/* static style  */
.static-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.static-item {
    display: flex;
    gap: 25px;
    align-items: center;
}


img.static-image-icon {
    width: 42px;
}

h2.static-value {
    font-weight: 900;
}


/* featured style  */
.feature-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature {
    width: 500px;
}

img.illustration-image {
    width: 640px;
}

h2.feature-header {
    font-size: 42px;
}

ul.feature-item {
    list-style: none;
}

li.feature-item-list {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

img.feature-right-img {
    width: 20px;
}

/* featured style end */

/* section style  */
.sections-container-parent {
    text-align: center;
    width: 540px;
    margin: 100px auto;
}

h2.title.section-heading {
    font-size: 32px;
    margin-bottom: 12px;
}


/* plan card style  */
.plan-card-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
}


img.card-icon {
    width: 150px;
    margin-bottom: 40px;
}

h2.card-title {
    font-size: 24px;
    margin-bottom: 35px;
}

ul.plan-item {
    list-style: none;
    margin-bottom: 30px;
}

li.plan-features {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 14px;
}

img.plan-features-icon {
    width: 20px;
}

.plan-card {
    margin: 0 auto;
    border-radius: 20px;
    border: solid red 3px;
    padding: 50px 80px;
    margin-bottom: 50px;
}

span.plan-price {
    font-weight: 700;
}

button.cart-selector-button {
    padding: 12px 32px;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 30px;
    color: red;
    margin-top: 10px;

}

button.cart-selector-button:focus {
    background: red;
    color: white;
}

div#price-button-container-parent-1 {
    position: relative;
    top: 80px;
}

div#price-button-container-parent-2 {
    position: relative;
    top: 40px;
}